html,
body {
  background-color: var(--bg-color);
  color: white;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  line-height: 150%;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

.nav__desktop ul {
  display: none;
}

.nav__mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #141418;
}

.nav__mobile ul {
  list-style: none;
  margin: 0 auto;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8vw;
}

.nav__mobile ul li {
  display: flex;
  flex-flow: column nowrap;
}

.icon__text--mobile {
  font-size: 0.8rem;
  color: #fff;
}

p {
  font-size: 1rem;
}

.header {
  width: 100%;
  background-color: #141418;
}

.header--centered {
  max-width: var(--bp-375);
  width: 100%;
  min-height: 5rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo__container {
  max-height: 3rem;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo__text {
  color: #e7ebee;
  font-size: 1.2rem;
  padding: 8px;
}

.logo__text:hover {
  color: white;
}

.logo__icon {
  height: 2rem;
}

.nav__button {
  color: #e7ebee;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
}

.nav__button:hover {
  color: rgb(250, 250, 250);
  background-color: #1c1b1f;
  border-radius: 3rem;
}

.nav__button--mobile {
  display: flex;
  flex-flow: column nowrap;
}

.icon {
  height: 1.5rem;
}

.link {
  text-decoration: none;
  color: #60a8fc;
}

.link:hover {
  text-decoration: none;
  color: #3a6be7;
}

.main--centered {
  max-width: var(--bp-375);
  width: 100%;
  margin: 0 auto;
}

.home__h1 {
  color: #c3c8d6;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 150%;
  padding: 1rem 0 4rem 0;
}

.home__h2 {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.projects__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  width: 100%;
  max-width: 30rem;
  text-decoration: none;
  color: white;
  flex: 1;
}

.card__image--disko {
  width: 100%;
  background-color: #3d1e95;
  border-radius: 16px;
}

.card__image--nasjonalmuseet {
  width: 100%;
  background-color: #751627;
  border-radius: 16px;
}

.card__title {
  font-weight: 400;
  font-size: 1.4rem;
  padding: 0.4rem 0;
  line-height: 130%;
}

.flex--horisontal {
  display: flex;
}

@media screen and (min-width: 375px) {
  .header--centered {
    max-width: var(--bp-375);
  }
  .main--centered {
    max-width: var(--bp-375);
  }

  .projects__wrapper {
    max-width: var(--bp-375);
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .header--centered {
    max-width: var(--bp-600);
    min-height: 6rem;
  }

  .main--centered {
    max-width: var(--bp-600);
  }

  .projects__wrapper {
    max-width: var(--bp-600);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .nav__desktop ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: row nowrap;
  }

  .nav__mobile ul {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .header--centered {
    max-width: var(--bp-900);
  }
  .main--centered {
    max-width: var(--bp-900);
  }

  .projects__wrapper {
    max-width: var(--bp-900);
  }
  .logo__icon {
    height: 2.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .header--centered {
    max-width: var(--bp-1200);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main--centered {
    max-width: var(--bp-1200);
  }

  .projects__wrapper {
    max-width: var(--bp-1200);
  }

  .card__image--disko {
    background-color: var(--card-color);
    transition: background-color 0.1s ease-in-out;
  }

  .card__image--disko:hover {
    background-color: #322156;
  }

  .card__image--nasjonalmuseet {
    background-color: var(--card-color);
    transition: background-color 0.1s ease-in-out;
  }

  .card__image--nasjonalmuseet:hover {
    background-color: #481f30;
  }
}

/*About*/
.link--container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
/*end About*/

/*Contact*/
.socials--container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.icon-big {
  height: 2rem;
  padding: 1rem;
  border-radius: 5rem;
}

.icon-big:hover {
  background-color: #1c1b1f;
}

.text-h2 {
  font-weight: 400;
}

.grid--contactinfo {
  display: grid;
  grid-template-columns: 7rem auto;
  width: 100%;
  column-gap: 1rem;
}

.text--blue {
  color: #54a3ff;
}
/*end Contact*/

/*Samlingen*/
.project__hero {
  max-width: var(--bp-350);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 2rem 0;
}

.project--cover {
  max-width: var(--bp-350);
  background-color: #2c2c31;
  border-radius: 16px;
}

.linebreak__gradient {
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(
    88.99deg,
    rgba(115, 158, 223, 0.59) -0.96%,
    rgba(51, 39, 184, 0.95) 50.33%,
    rgba(255, 123, 123, 0.62) 98.65%
  );
}

.project__intro--bg {
  background: linear-gradient(90deg, #1d1b2a 0%, #22202f 49.55%, #1d1b2a 100%);
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.project__intro {
  max-width: var(--bp-350);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  height: auto;
}

.project__article--bg {
  background: linear-gradient(
    90deg,
    #1a1a22 0%,
    #1b1a28 50.11%,
    #1a1822 100%,
    #1a1822 100%,
    #1a1a22 100%
  );
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.project__article {
  max-width: var(--bp-350);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding: 1rem 0;
}

.project__h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.project--centered h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
  padding: 0.5rem 0;
}

.project--centered p {
  font-weight: 400;
}

.projectdetails__wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  width: 100%;
  column-gap: 1rem;
  line-height: 250%;
}

@media screen and (min-width: 375px) {
  .project__hero {
    max-width: var(--bp-375);
  }
  .project--cover {
    max-width: var(--bp-375);
  }
  .project__intro {
    max-width: var(--bp-375);
  }
  .project__article {
    max-width: var(--bp-375);
  }
}
@media screen and (min-width: 600px) {
  .project__hero {
    max-width: var(--bp-600);
  }
  .project--cover {
    max-width: var(--bp-600);
  }
  .project__intro {
    max-width: var(--bp-600);
  }
  .project__article {
    max-width: var(--bp-600);
  }
}
@media screen and (min-width: 900px) {
  .project__hero {
    max-width: var(--bp-900);
  }
  .project--cover {
    max-width: var(--bp-900);
  }
  .project__intro {
    max-width: var(--bp-900);
  }
  .project__article {
    max-width: var(--bp-900);
  }
}
@media screen and (min-width: 1200px) {
  .project__hero {
    max-width: var(--bp-1200);
  }
  .project--cover {
    max-width: var(--bp-1200);
  }
  .project__intro {
    max-width: var(--bp-1200);
  }
  .project__article {
    max-width: var(--bp-1200);
  }
}

/*End Samlingen*/

/*Disko*/
.cover--disko {
  max-width: 60rem;
  background-color: #3d1e95;
  border-radius: 16px;
}

.tools--wrapper {
  max-height: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

.tool--image {
  height: 2rem;
  width: auto;
}

.tool {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 375px) {
  .project__hero {
    max-width: var(--bp-375);
  }
  .cover--disko {
    max-width: var(--bp-375);
  }
  .project__intro {
    max-width: var(--bp-375);
  }
  .project__article {
    max-width: var(--bp-375);
  }
}
@media screen and (min-width: 600px) {
  .project__hero {
    max-width: var(--bp-600);
  }
  .cover--disko {
    max-width: var(--bp-600);
  }
  .project__intro {
    max-width: var(--bp-600);
  }
  .project__article {
    max-width: var(--bp-600);
  }
}
@media screen and (min-width: 900px) {
  .project__hero {
    max-width: var(--bp-900);
  }
  .cover--disko {
    max-width: var(--bp-900);
  }
  .project__intro {
    max-width: var(--bp-900);
  }
  .project__article {
    max-width: var(--bp-900);
  }
}
@media screen and (min-width: 1200px) {
  .project__hero {
    max-width: var(--bp-1200);
  }
  .cover--disko {
    max-width: var(--bp-1200);
  }
  .project__intro {
    max-width: var(--bp-1200);
  }
  .project__article {
    max-width: var(--bp-1200);
  }
}
/*End Disko*/

.hidden__h1 {
  display: none;
}

/*Blog*/

.gallery--wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.gallery--column {
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  gap: 0.5rem;
}
.gallery--link {
}

.gallery--link:hover {
  border-radius: 100px;
}

.gallery-img {
  width: 14rem;
}

.text__medium40 {
  font-weight: 500;
  font-size: 2rem;
  padding: 1.2rem 0 2.5rem 0;
}

.viewblogpost--container {
  width: auto;
  padding: 2rem;
  border-radius: 1.3rem;
  background-color: #1a1c30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button {
  height: 3rem;
  width: 12rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: #a43657;
  border-radius: 10rem;
}

.primary-button:hover {
  background-color: #862844;
}

.primary-button2 {
  height: 3rem;
  width: 16rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: #a43657;
  border-radius: 10rem;
}

.primary-button2:hover {
  background-color: #862844;
}

/*End blog*/
