:root {
  --bg-color: #141418;
  --card-color: #212226;
  --font-color: #ffffff;
  --app-font: "Poppins", serif;
  --bp-350: 16rem;
  --bp-375: 20rem;
  --bp-600: 35rem;
  --bp-900: 42rem;
  --bp-1200: 44rem;
}
